.reference-item {
	margin-bottom: 25px;
}

.reference-item__field {}
.reference-item__field--id {
font-weight: bold;
	color: #ccc;
}
.reference-item__field--link {
	color: #551a8b;
}
.reference-item__field--duration {
	font-size: 10px;
	color: gray;
}
.reference-item__field--theme {
	font-weight: bold;
	font-size: 10px;
}